html, body {
   
    // font-family: 'Cookie', cursive;
}

.mdl-layout-title_font {
    font-family: 'Cookie', cursive;
    font-size: 3rem;
}

.mdl-layout__header{
    background-color: rgb(23, 20, 19) !important;
}
.mdl-layout__tab-bar-button{
    background-color: rgb(23, 20, 19) !important;
}
.mdl-layout__tab-bar{
    background-color: rgb(23, 20, 19) !important;
}

.mdl-layout__tab_font{
    color: white;
}

// .mdl-card__supporting-text_font {
//     font-size: 20px !important;
// }

.mdl-layout__container {    
    background-color: #e7e7e7;
    background: url('/public/images/background/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.mdl-card-color {
    background-color: black;
}

.mdl-button-custom-font {
    font-family: 'Cookie', cursive;
    color: white !important;
    font-size: 18px;

}

.wrap-card-square.mdl-card {
    height: 320px;
    width: 320px;
  }
  .wrap-food-menu {
    color: #fff;
    background: url('/public/images/cards/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrap-store-locator {
    color: #fff;
    background: url('/public/images/cards/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrap-franchize {
    color: #fff;
    background: url('/public/images/cards/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .headerText{
    font-family: 'Cookie', cursive;
    font-weight: 600 !important;
    padding-bottom: 5px;
    font-size: 20px;
    text-decoration: underline;
  }

.addressText{
    font-family: 'Cookie', cursive;
    font-weight: 500 !important;
    font-size: 18px;
    width: 70%;
}

.mdl-grid-custom {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.mdl-card.map-card {
    width: 280px;
    margin: 10px 25px;
}

.homeButton {
    font-size: 2.5rem;
    margin: 5px auto;
}


.mdl-layout_imageSlider{
    padding: 10px;
}

@media only screen and (max-width: 600px) {
.mdl-grid-custom {
    flex-direction: column;
}
.mdl-grid-custom-stores {
    flex-direction: column;
}
.mdl-card.map-card {
    width: 300px;
    margin: 10px auto;
}
}

.mdl-card__supporting-text.content_text div {
    color: #444;
    font: 600 14px/34px Roboto, san-serif;
}

.store-header{
    background-color: black;
    color: white;
    line-height: 50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px; 
}
.store-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.mdl-grid-custom-stores {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px; 
}

.mdl-layout--fixed-header-custom {
    position: fixed;
}

.mdl-layout__content-custom {
    margin-top: 112px;
}

::-webkit-scrollbar {
    display: none;
}

.sliderContainer {
    background-color: #cec3bf;
    width: 94%;
    margin: 10px auto;
}

.set-active {
    opacity: 1;
    border-bottom: 2px solid #f1aa09;
    bottom: 2px;
}

.imgContainer {
    width: 80%;
    height: 100%;
}

// .scroll-header {
//     position: fixed;
//     z-index: 10;
//     left: 0;
//     right: 0;
//     width: 100%;
// }

