html, body {
    // font-family: 'Cookie', cursive;
}

.mdl-layout-title_font {
    font-family: 'Cookie', cursive;
    font-size: 3rem;
}

.mdl-layout__header{
    background-color: rgb(23, 20, 19) !important;
}
.mdl-layout__tab-bar-button{
    background-color: rgb(23, 20, 19) !important;
}
.mdl-layout__tab-bar{
    background-color: rgb(23, 20, 19) !important;
}

// .mdl-layout__tab_font{
//     font-size: 16px !important;
// }

// .mdl-card__supporting-text_font {
//     font-size: 20px !important;
// }

.mdl-layout__container {
    background-color: #e7e7e7;
}

.wrap-card-square.mdl-card {
    height: 320px;
    width: 320px;
  }
  .wrap-food-menu {
    color: #fff;
    background: url('/public/images/cards/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .headerText{
    font-weight: 600 !important;
    padding-bottom: 5px;
    font-size: 20px;
    text-decoration: underline;
  }

.addressText{
    width: 60%;
}

.mdl-grid-custom {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.mdl-card.map-card {
    width: 280px;
    margin: 10px 25px;
}

.homeButton {
    font-size: 2.5rem;
    margin: 5px auto;
}

@media only screen and (max-width: 600px) {
.mdl-grid-custom {
    flex-direction: column;
}
.mdl-card.map-card {
    width: 300px;
    margin: 10px auto;
}
}

.mdl-card__supporting-text.content_text div {
    color: #444;
    font: 600 14px/34px Roboto, san-serif;
}
