html, body {
   
    // font-family: 'Cookie', cursive;
}

.mdl-layout-title_font {
    font-family: 'Cookie', cursive;
    font-size: 3rem;
}

.mdl-layout__header{
    background-color: rgb(23, 20, 19) !important;
}
.mdl-layout__tab-bar-button{
    background-color: rgb(23, 20, 19) !important;
}
.mdl-layout__tab-bar{
    background-color: rgb(23, 20, 19) !important;
}

.mdl-layout__tab_font{
    color: white;
}

// .mdl-card__supporting-text_font {
//     font-size: 20px !important;
// }

.mdl-layout__container {    
    background-color: #e7e7e7;
    background: url('/public/images/background/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.mdl-card-color {
    background-color: black;
}

.mdl-button-custom-font {
    font-family: 'Cookie', cursive;
    color: white !important;
    font-size: 18px;

}


.mdl-grid-custom {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.mdl-card.map-card {
    width: 280px;
    margin: 10px 25px;
}

.homeButton {
    font-size: 2.5rem;
    margin: 5px auto;
}


.mdl-layout_imageSlider{
    padding: 10px;
}

@media only screen and (max-width: 600px) {
.mdl-grid-custom {
    flex-direction: column;
}
.mdl-grid-custom-stores {
    flex-direction: column;
}
.mdl-card.map-card {
    width: 300px;
    margin: 10px auto;
}
}

.mdl-card__supporting-text.content_text div {
    color: #444;
    font: 600 14px/34px Roboto, san-serif;
}

.mdl-card__supporting-custom-Height {
    height: 100%;
}

.mdl-layout--fixed-header-custom {
    position: fixed;
}

.mdl-layout__content-custom {
    margin-top: 112px;
}

::-webkit-scrollbar {
    display: none;
}

.sliderContainer {
    background-color: #cec3bf;
    width: 94%;
    margin: 10px auto;
}

.set-active {
    opacity: 1;
    border-bottom: 2px solid #f1aa09;
    bottom: 2px;
}

.Mansory-Container {
    margin: 0 auto;
    width: 90%;
}

.monsoryHeader {
    font-family: Roboto, sans-serif;
    height: 30px;
    line-height: 30px;
    background-color: black;
    color: white;
    padding: 5px 10px;
}
