@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);


.store-header{
    background-color: #000000f2;
    color: white;
    line-height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.store-title {
    font-size: 2.5rem;
    color: white;
}

.mdl-grid-custom-stores {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px; 
    background-color: transparent;
}
.wrap-card-square.mdl-card {
    height: 320px;
    width: 320px;
  }

  @media only screen and (max-width: 600px) {
    .wrap-card-square.mdl-card {
        height: 250px;
        width: 250px;
      }
  }
  .wrap-food-menu {
    color: #fff;
    background: url('/public/images/cards/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrap-store-locator {
    color: #fff;
    background: url('/public/images/cards/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrap-franchize {
    color: #fff;
    margin: 0 -85px;
    background: url('/public/images/cards/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .headerText{
    font-family: 'Cookie', cursive;
    font-weight: 600 !important;
    padding-bottom: 5px;
    font-size: 20px;
    text-decoration: underline;
  }

.addressText{
    font-family: 'Cookie', cursive;
    font-weight: 500 !important;
    font-size: 18px;
    width: 70%;
}

.mdl-store-font-color {
    color: white !important;
}

.plate {
    width: 410px;
    margin: 10% auto;
  }
  .shadow {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow:
      -3px -3px 0 #222,
      3px -3px 0 #222,
      -3px 3px 0 #222,
      3px 3px 0 #222,
      4px 4px 0 #fff,
      5px 5px 0 #fff,
      6px 6px 0 #fff,
      7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
  }
  .script {
    font-family: "Seaweed Script";
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin:0;
  }
  .script span {
    background-color: #222;
    padding: 0 0.3em;
  }
  .script:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 3px solid #fff;
  }
  .text1 {
    font-size: 60px;
  }
  .text2 {
    font-size: 169px;
  }
  .text3 {
    font-size: 100px;
  }